<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HTML5 и CSS3 сайт</title>
    <link th:href="@{../css/main.css}" rel="stylesheet"  type="text/css"  media="all">
</head>
<body>
    <div  th:replace="fragments/header :: header"> </div >
    <div id="top">
        <h1>Время читать!</h1>
        <h3>Лучшие книги у нас!</h3>
    </div>
    <div id="katalogs">
        <h1 style="text-align:center">Поиск книг</h1>

        <form id="form_input" method="post" th:action="@{/admin/catalog}">
           <div>
               <label for="genre">Введите название жанра </label><br>
               <div>
                   <select id="genre" name="genref" class="btn btnForm" >
                       <option th:value="0">Выберите из списка</option>
                       <option th:each="genre : ${genresList}"
                               th:value="${genre.id}"
                               th:utext="${genre.getGenre()}"></option>
                   </select>
               </div>
           </div>
           <br> <br>
           <div>
               <label for="publishersselect">Издательство</label>
           </div>
           <div>
               <select id="publishersselect" name="publisherf"  class="btn btnForm">
                   <option th:value="0">Выберите из списка</option>
                   <option th:each="publishers : ${publishersList}"
                           th:value="${publishers.id}"
                           th:utext="${publishers.getPublisher()}"></option>
               </select>
           </div>
           <button  id="mess_send" class="btn btnForm" type="submit" style="float:none; display: inline">Найти</button>
        </form>


        <table class="tabl">
           <thead>
           <tr>
               <th>#</th>
               <th>Название</th>
               <th>Автор</th>
               <th>Жанр</th>
               <th>Издательство</th>
               <th>Кол. страниц</th>
           </tr>
           </thead>
           <tbody>

           <tr th:if="${booksList.empty}">
               <td colspan="6"> Не найдено! </td>
           </tr>
           <tr th:each="book : ${booksList}">
               <td><span th:text="${book.getId()}"> Title </span></td>
               <td><span th:text="${book.getTitle()}"> Author </span></td>
               <td><span th:text="${book.getAuthor()}"> Title </span></td>
               <td><span th:text="${book.getGenre().getGenre()}"> Title </span></td>
               <td><span th:text="${book.getPublisher().getPublisher()}"> Title </span></td>
               <td><span th:text="${book.getPageCount()}"> Author </span></td>
               <td>
                   <form th:action="@{/admin/catalog/delete/{id}(id=${book.getId()})}" method="get">
                       <input type="hidden" name="bookId" th:value="${book.getId()}"/> </label>
                       <input type="submit" value="Удалить" class="btn btnForm"/>
                   </form>
               </td>
           </tr>
           </tbody>
        </table>
    </div>
    <div style="margin: 0 auto" th:replace="fragments/footer :: footer"> </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    //Изменение свойств шапки сайта
    // <!--Функция, выполняющаяся при скролле-->
    $(document).on("scroll", function () {
    if($(window).scrollTop() === 0)
    $("header").removeClass("fixed");
    else/*если расстояние, на которое проскроллили!=0*/
    $("header").attr("class", "fixed");/*добавляем класс*/
    });
    </script>
</body>
</html>