<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HTML5 и CSS3 сайт</title>
    <link th:href="@{../css/main.css}" rel="stylesheet"  type="text/css"  media="all">
</head>
<body>
    <div  th:replace="fragments/header :: header"> </div >
    <div id="top">
    <h1>Время читать!</h1>
    <h3>Лучшие книги у нас!</h3>
    </div>

    <div id="katalogs">
        <h1 style="text-align:center">Список пользователей</h1>

        <form id="form_input" method="post" action="/admin/users">
           <label for="genre">Введите амилию </label><br>
           <input type="text" placeholder="Фамилия" name="lastName" id="genre"
                  pattern="[А-Яа-яЁё]{2,25}">
           <button  id="mess_send" class="btn btnForm" type="submit" style="float:none; display: inline">Найти</button>
        </form>

        <table class="tabl">
           <thead>
           <tr>
               <th>#</th>
               <th>Имя</th>
               <th>Фамилия</th>
               <th>email</th>
               <th>Роль</th>
           </tr>
           </thead>
           <tbody>

           <tr th:if="${usersList.empty}">
               <td colspan="6"> Не найдено! </td>
           </tr>
           <tr th:each="user : ${usersList}">
               <td><span th:text="${user.getId()}">  </span></td>
               <td><span th:text="${user.getFirstName()}">  </span></td>
               <td><span th:text="${user.getLastName()}">  </span></td>
               <td><span th:text="${user.getEmail()}">  </span></td>
               <td><span th:text="${user.getRole()}">  </span></td>
           </tr>
           </tbody>
        </table>
    </div>

    <div style="margin: 0 auto" th:replace="fragments/footer :: footer"> </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    //Изменение свойств шапки сайта
    // <!--Функция, выполняющаяся при скролле-->
    $(document).on("scroll", function () {
      if($(window).scrollTop() === 0)
        $("header").removeClass("fixed");
      else/*если расстояние, на которое проскроллили!=0*/
        $("header").attr("class", "fixed");/*добавляем класс*/
    });
    </script>
</body>
</html>