<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HTML5 и CSS3 сайт</title>
    <link th:href="@{../css/main.css}" rel="stylesheet"  type="text/css"  media="all">
    <link rel="stylesheet" type="text/css" th:href="@{../css/popupStyle.css}" media="all">
    <script th:src="@{../js/tipOfTheDay.js}"></script>
</head>
<body>
    <div  th:replace="fragments/header :: header"> </div >
    <div id="top">
    <h1>Время читать!</h1>
    <h3>Лучшие книги у нас!</h3>
    </div>

    <div id="main">
    <div class="tip">
          <h2>Совет дня</h2>
          <span class="tipH3" id="getTipH3"></span>
          <br><br>
          <button type="button" id="tipButton" class="btn"  onclick=getRandomTip()>Другой совет</button>
          <script>
                getTodayTip();
           </script>
    </div>
    <span>
        <div class="imgtip">
            <img th:src="@{../images/tip.jpg}" alt=""/>
            <br>
        </div>
    </span>
    </div>

    <div style="margin: 0 auto" th:replace="fragments/footer :: footer"> </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    /* <!--анимирование элементов html, body-->
    работает функция animate в течении 500мс-->
    <!--скроллим с верха страницы на расстояние, равное отступу сверху от объекта id--> */
    function slowScroll(id) {
      $('html, body').animate({
        scrollTop: $(id).offset().top
      }, 500);
    }
    // <!--Функция, выполняющаяся при скролле-->
    $(document).on("scroll", function () {
      if($(window).scrollTop() === 0)
        $("header").removeClass("fixed");
      else/*если расстояние, на которое проскроллили!=0*/
        $("header").attr("class", "fixed");/*добавляем класс*/
    });
    </script>
</body>
</html>