<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Добавить жанр</title>
	<link th:href="@{../css/main.css}" rel="stylesheet"  type="text/css"  media="all">
    <script th:src="@{../js/checkForm.js}"></script>
</head>
	<body>
	<div id="contacts" class="contactPage">
		<div style="text-align: center;"><h5>Добавление нового жанра книги</h5></div>

		<form th:action="@{/user/addnewgenre}"   method="post" id="form_input"  autocomplete="off"
		   th:object="${genre}">
			<label for="titleb" >Название жанра<span>*</span></label><br>
			<div>
				<input type="text" th:field="*{genre}" id="titleb" class="field" placeholder="Название"><br>
			</div>

			<button  id="mess_send" class="btn btnForm" type="submit">Добавить жанр</button>
			<br><br><br>
			<a th:href="@{../user/addnewbook}" title="Назад" class=" heading">На главную</a>
		</form>
	</div>
</body>
</html>