<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Добавить издательство</title>
	<link th:href="@{../css/main.css}" rel="stylesheet"  type="text/css"  media="all">
    <script th:src="@{../js/checkForm.js}"></script>
</head>
<body> 
	<div id="contacts" class="contactPage">
	<div style="text-align: center;"><h5>Добавление нового издательства</h5></div>

	<form th:action="@{/user/addnewpublisher}"   method="post" id="form_input"  autocomplete="off"
	th:object="${publisher}">
		<label for="titlep" >Название издательства<span>*</span></label><br>
		<div>
			<input type="text" th:field="*{publisher}" id="titlep" class="field" placeholder="Название издательства"><br>
		</div>

		<label for="titlet" >Название города<span>*</span></label><br>
		<div>
			<input type="text" th:field="*{town}" id="titlet" class="field" placeholder="Название города"><br>
		</div>

		<button  id="mess_send" class="btn btnForm" type="submit">Добавить издательство</button>
		<br><br><br>
		<a th:href="@{../user/addnewbook}" title="Назад" class=" heading">Назад</a>
	</form>
	</div>
</body>
</html>