<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Добавить книгу</title>
	<link th:href="@{../css/main.css}" rel="stylesheet"  type="text/css"  media="all">
    <script th:src="@{../js/checkForm.js}"></script>
</head>
<body> 
	<div id="contacts" class="contactPage">
	<div style="text-align: center;"><h5>Добавление новой книги</h5></div>

	<form th:action="@{/user/addnewbook}"   method="post" id="form_input"  autocomplete="off"
	   th:object="${book}">
		<label for="titleb" >Название<span>*</span></label><br>
		<div>
			<input type="text" th:field="*{title}" id="titleb" class="field" placeholder="Название"><br>
		</div>
			<label for="author" title = "Только русские буквы">Автор<span>*</span> </label><br>
		<div>
			<input type="text" th:field="*{author}" id="author" class="field" placeholder="Автор"><br>
		</div>
		<div>
			 <div>
				<label for="genre">Жанр <span>*</span></label><br>
			 </div>
			 <select id="genre" th:field="${book.genre}"  class="btn btnForm" >
				 <option th:each="genre : ${genresList}"
						 th:value="${genre.id}"
						 th:utext="${genre.getGenre()}"></option>
			 </select>
		</div>
		<br><br>
		<div>
			<label for="pageCount">Количество страниц <span>*</span></label><br>
		</div>
		<div>
			<input type="number" placeholder="Введите пароль" name="password1" id="pageCount" class="field"
			   th:field="*{pageCount}"><br>
		</div>

		<div>
			<div>
				<label for="publishersselect">Издательство <span>*</span></label>
			</div>
			<select id="publishersselect" th:field="${book.publisher}" class="btn btnForm">
			 	<option th:each="publishers : ${publishersList}"
					 th:value="${publishers.id}"
					 th:utext="${publishers.getPublisher()}"></option>
			</select>
		</div>
		<br>
		<br>

		<button  id="mess_send" class="btn btnForm" type="submit">Добавить книгу</button>
		<br><br><br>
		<a th:href="@{../user/addnewgenre}" title="Добавить жанр" class=" heading">Добавить жанр</a><br><br>
		<a th:href="@{../user/addnewpublisher}" title="Добавить издательство" class=" heading">Добавить издательство</a><br><br>
		<a th:href="@{../user/added}" title="На главную" class=" heading">Назад</a>
	</form>
	</div>
</body>
</html>