<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мой аккаунт</title>
    <link th:href="@{../css/main.css}" rel="stylesheet"  type="text/css"  media="all">
    <link th:href="@{../css/usermenu.css}" rel="stylesheet"  type="text/css"  media="all">
</head>
<body>
<div  th:replace="fragments/userheader :: userheader"> </div >
    <div id="top">
        <h1>Время читать!</h1>
        <h3>Лучшие книги у нас!</h3>
    </div>
    <div class="accountData">
        <div style="padding-left: 20%">
            <h1> Раздаваемые мной сейчас</h1>
            <table class="tabl">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название книги</th>
                        <th>Автор</th>
                        <th>Жанр</th>
                        <th>Издательство</th>
                        <th>Кол. страниц</th>
                        <th>Действие</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${userHistories.empty}">
                        <td colspan="8"> Не найдено! </td>
                    </tr>
                    <tr th:each="history : ${userHistories}">
                        <td><span th:text="${history.getId()}"> Title </span></td>
                        <td><span th:text="${history.getBook().getTitle()}"> Author </span></td>
                        <td><span th:text="${history.getBook().getAuthor()}"> Title </span></td>
                        <td><span th:text="${history.getBook().getGenre().getGenre()}"> Title </span></td>
                        <td><span th:text="${history.getBook().getPublisher().getPublisher()}"> Title </span></td>
                        <td><span th:text="${history.getBook().getPageCount()}"> Author </span></td>
                        <td><span th:text="${history.getAction().getAction()}"> Title </span></td>
                        <td><span th:text="${history.getOrderDate()}"> Title </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="margin: 0 auto" th:replace="fragments/footer :: footer"> </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        <!--Функция, выполняющаяся при скролле-->
            $(document).on("scroll", function () {
            if($(window).scrollTop() === 0)
            $("header").removeClass("fixed");
            else/*если расстояние, на которое проскроллили!=0*/
            $("header").attr("class", "fixed");/*добавляем класс*/
        });
    </script>
</body>
</html>