<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Редактировать</title>
	<link th:href="@{../css/main.css}" rel="stylesheet"  type="text/css"  media="all">
	<link th:href="@{../css/usermenu.css}" rel="stylesheet"  type="text/css"  media="all">
</head>
<body>
	<div  th:replace="fragments/userheader :: userheader"> </div >
	<div id="top">
		<h1>Время читать!</h1>
		<h3>Лучшие книги у нас!</h3>
	</div>
	<div id="contacts" class="contactPage">
		<form id="form_input" method="post"  action="/user/edit" th:object="${continueUser}">
			<h1> Мои данные</h1>
			<br>
			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{role}">
			<label for="firstname"  title = "Только русские буквы">Ваше имя<span>*</span></label><br>
			<div>
				<input type="text"  th:field="*{firstName}" id="firstname" class="field" pattern="[А-Яа-яЁё]{2,30}"
					   value = ${sessionScope.userBean.firstName}><br>
			</div>
			<label for="lastname" title = "Только русские буквы">Ваша фамилия<span>*</span> </label><br>
			<div>
				<input type="text" th:field="*{lastName}" id="lastname" class="field" pattern="[А-Яа-яЁё]{2,30}"
					   value = ${sessionScope.userBean.lastName}><br>
			</div>
			<label for="mail">Логин <span>*</span></label><br>
			<div>
				<input type="text" th:field="*{email}" id="mail" class="field"
					   pattern="[\S+@\S+\.\S+]{9,40}" value = ${sessionScope.userBean.email}><br>
			</div>
			<label for="password1">Пароль <span>*</span></label><br>
			<div>
				<input type="password" th:field="*{password}" id="password1" class="field"
					   pattern="[\w]{3,30}" value = ${sessionScope.userBean.password}><br>
			</div>
			<button  id="mess_send" class="btn btnForm" type="submit">Отправить</button>
			<br>т<br>
		</form>
	</div>

	<div style="margin: 0 auto" th:replace="fragments/footer :: footer"> </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		<!--Функция, выполняющаяся при скролле-->
		$(document).on("scroll", function () {
			if($(window).scrollTop() === 0)
				$("header").removeClass("fixed");
			else/*если расстояние, на которое проскроллили!=0*/
				$("header").attr("class", "fixed");/*добавляем класс*/
		});
	</script>
</body>
</html>