<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мой аккаунт</title>
    <link th:href="@{../css/main.css}" rel="stylesheet"  type="text/css"  media="all">
    <link th:href="@{../css/usermenu.css}" rel="stylesheet"  type="text/css"  media="all">
</head>
<body>
    <div  th:replace="fragments/userheader :: userheader"> </div >
    <div id="top">
        <h1>Время читать!</h1>
        <h3>Лучшие книги у нас!</h3>
    </div>
    <div class="accountData">
        <div style="padding-left: 20%">
            <h1> Мои данные</h1>
            <div style="padding-bottom: 0; padding-top: 30px">
            <table>
                <tr>
                    <td>Имя:</td>
                    <td><span th:text="${loginnedUser.getFirstName()}">  </span></td>
                </tr>
                <tr class="altr">
                    <td>Фамилия:</td>
                    <td><span th:text="${loginnedUser.getLastName()}"> </span></td>
                </tr>
                <tr>
                    <td>Е-mail:</td>
                    <td><span th:text="${loginnedUser.getEmail()}">  </span></td>
                </tr>
            </table>
            <button type="submit" onClick='location.href="edit"' id="mess_send" class="btn"  style="width: 180px; margin: 20px auto;">Редактировать</button>
            </div>
        </div>
    </div>

    <div style="margin: 0 auto" th:replace="fragments/footer :: footer"> </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        <!--Функция, выполняющаяся при скролле-->
            $(document).on("scroll", function () {
            if($(window).scrollTop() === 0)
            $("header").removeClass("fixed");
            else/*если расстояние, на которое проскроллили!=0*/
            $("header").attr("class", "fixed");/*добавляем класс*/
        });
    </script>
</body>
</html>