<div th:fragment="footer">
    <footer id="contacts">
        <div>
            <span class="heading">© 2020 Books</span>
        </div>
        <div>
            <a href="#" class="heading">О компании</a>
        </div>
        <div>
            <a href="#" class="heading">Карта сайта</a>
        </div>
    </footer>
</div>