<div th:fragment="userheader" >
    <header>
        <div id="logo" >
            <span>Books</span>
        </div>
        <div id="about">
            <a th:href="@{../main/index}" title="Возможности">Возможности</a>
            <a th:href="@{../main/catalog}" title="Каталог">Каталог</a>
            <a th:href="@{../user/account}" title="Войти">Мой лк</a>
            <a th:href="@{/logout}" th:text="${logoutMessage}"></a>
            <a th:href="@{../admin/users}" th:text="${adminMessage}"></a>
            <a th:href="@{../admin/catalog}" th:text="${adminMessageBooks}"></a>
        </div>
        <div id="about2">
            <a th:href="@{../user/distributed}">Раздаваемые мной сейчас</a>
            <a th:href="@{../user/added}">Мой вклад</a>
            <a th:href="@{../user/gotten}">Сейчас у меня</a>
            <a th:href="@{../user/exchange}">История обмена</a>
        </div>
    </header>
</div>