#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 250px;
}
#navbar li {
    border-bottom: 1px solid #fff;
}
#navbar a {
    background-color: #949494;
    color: #fff;
    padding: 5px;
    display: block;
}
#navbar a:hover {
    background-color: #666;
}