<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"  type="text/css"  media="all">
</head>
<body>
    <div id="contacts" class="contactPage" >
        <div style="text-align: center;"><h5>Вход</h5></div>
        <form id="form_input" method="post" th:action="@{/login}">
            <label for="email">Логин <span>*</span></label><br>
            <input type="text" placeholder="Введите логин" name="username" id="email"
                pattern="[\S+@\S+\.\S+]{9,40}"><br>
            <label for="passw">Пароль <span>*</span></label><br>
            <input type="password" placeholder="Введите пароль" name="password" id="passw"
                pattern="[\w]{3,30}"><br>
            <br>
            <button type="submit" id="mess_send" class="btn" >Отправить</button>
            <br><br>
            <br><a href="registration" title="Регистрация" class=" heading">Регистрация</a>
            <br><br><a href="/main/index" title="На главную" class=" heading">На главную</a>
        </form>
    </div>
</body>
</html>