<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Регистрация</title>
	<link th:href="@{/css/main.css}" rel="stylesheet"  type="text/css"  media="all">
</head>
<body> 
	<div id="contacts" class="contactPage">
		<div style="text-align: center;"><h5>Регистрация</h5></div>
		<p>  <span th:text="${errMessage}" style="color: red"></span></p>
		<form th:action="@{/registration}"   method="post" id="form_input"  autocomplete="off"
		   th:object="${newUser}">

		<label for="firstname"  title = "Только русские буквы">Ваше имя<span>*</span></label><br>
		<div>
			<input type="text" th:field="*{firstName}" id="firstname" class="field" placeholder="Имя"  pattern="[А-Яа-яЁё]{2,30}"><br>
		</div>
		<label for="lastname" title = "Только русские буквы">Ваша фамилия<span>*</span> </label><br>
		<div>
			<input type="text" th:field="*{lastName}" id="lastname" class="field" placeholder="Фамилия"  pattern="[А-Яа-яЁё]{2,30}"><br>
		</div>
		<label for="mail">Логин <span>*</span></label><br>
		<div>
			<input type="text" placeholder="Введите логин" name="mail" id="mail" class="field"
			pattern="[\S+@\S+\.\S+]{9,40}" onkeyup="checkEnteredMail();"
				   th:field="*{email}"><br>
		</div>
		<span id="checkmailmessage"></span>

		<label for="password1">Пароль <span>*</span></label><br>
		<div>
			<input type="password" placeholder="Введите пароль" name="password1" id="password1" class="field" autocomplete="new-password"
				pattern="[\w]{3,30}"
				   th:field="*{password}"><br>
		</div>

		<button  id="mess_send" class="btn btnForm" type="submit">Отправить</button>
		<br><br><br>
		<a th:href="@{/main/index}" title="На главную" class=" heading">На главную</a>
		</form>
	</div>
</body>
</html>